.fullwidthlight {
    width: 100vw;
    background-color:white;
}
.fullwidthdark {
    width: 100vw;
    background-color:black;
}

.lightBackground {
    background-color: white;
}

.darkBackground {
    background-color: black;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
}

.footerLightMode {
    background-image: linear-gradient(white, rgb(49,198,183))
}
.footerDarkMode {
    background-image: linear-gradient(black, blueviolet);
}
